#body{
	font-family: "Helvetica", sans-serif;
	font-size:; 

}

#container{
	/*margin: 10px;*/
	width:1000px;
	height:300px;
}

#printshift{
	float:right;
}

#header{
	width:960px;
	height: 300px;
}

#navlist
{
	margin: 0;
	width:990px;
	list-style-type: none;
	text-decoration:none;
	padding-bottom:15px; 
	border-bottom: #7a769e solid 4px;
}

#navlist ul, #navlist li
{
	margin-bottom:20px;
	padding: 1em;
	display: inline;
	list-style-type: none;
	text-decoration:none;font-size:1.2em;
	font-weight: bold;
	color: #7a769e;
	

}

#rightcolumn{
	margin-top:30px;
	margin-left:770px;
	width: 260px;
	height: 1050px;
	padding-left:10px;
	padding-right:60px;

}

#content{

	margin-left:40px;
	margin-top:-1050px;
	width:740px;
	height:420px;
	border-bottom: #7a769e solid 4px;
	
}

#waterfront{
	margin-top:-20px;
	margin-left: -10px;
	width:230px;
	float:right;
	margin-right:20px;
}

#waterfront h2{
	font-family: "Georgia",serif;
	color: #000 !important;
}

#middlecolumn{
	margin-left:20px;
}

#rightmiddle{
	float:right;
	margin-right:380px;
	margin-top:-320px;
}

#content h2{
	color:#7a769e;

}
#content p{
	font-family: "Georgia", serif;
}
#middlecolumn{
	margin-left:40px;
}

#footer{

}

